*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/../ble_custom/.launches/ble_custom.launch
/.idea/shelf/Uncommitted_changes_before_Update_at_15_01_2021_09_29_[Default_Changelist]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_15_01_2021_09_29__Default_Changelist_.xml
